BOT_TOKEN=8907554975:AAFKaEnYVgNzbW7slqQn1gvvn8u9b-PRLbw
ADMIN_USER_IDS=1965326056
GROUP_CHAT_ID=-5102997375
REDIS_URL=redis://localhost:6379
MONGODB_URI=mongodb://localhost:27017
DB_NAME=mcq_bot
JOIN_WINDOW_SECONDS=60
WEBHOOK_URL=
